{if $itemsPerPage}
 {form itemsPerPage, class => ($ajax ? "form-inline ajax" : "form-inline")}
  <div class="form-group">
   {label itemsPerPage /}
   {input itemsPerPage, class => "form-control"}
   {input send, class => "btn btn-secondary"}
  </div>
 {/form}
{/if}
