{if $itemsPerPage}
	{form itemsPerPage, class => $ajax ? 'form-inline ajax' : 'form-inline'}
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">{label itemsPerPage /}</span>
			</div>
			{input itemsPerPage, class => "form-control"}
			<div class="input-group-append">
				{input send, class => "btn btn-outline-secondary"}
			</div>
		</div>
	{/form}
{/if}
