extensions:
	visualpaginator: AlesWita\Components\VisualPaginatorExtension

application:
	mapping:
		*: AlesWita\Components\VisualPaginator\Tests\App\*Presenter

services:
	test.presenter:
		class: AlesWita\Components\VisualPaginator\Tests\App\TestPresenter

	routing.router: AlesWita\Components\VisualPaginator\Tests\App\Router::createRouter

visualpaginator:
	session: @Nette\Http\Session
