extensions:
	visualpaginator: AlesWita\Components\VisualPaginatorExtension

services:
	fake.translator: AlesWita\Components\VisualPaginator\Tests\App\FakeTranslator

visualpaginator:
	translator: @fake.translator
	itemsPerPageList:
		1: 1
		2: 2
		3: 3
	template: AlesWita\Components\VisualPaginator::TEMPLATE_BOOTSTRAP_V4
	messages:
		itemsPerPage: "foo"
		send: "foo"
