{if $itemsPerPage}
 <div>
  {var $formClass = ($ajax ? "ajax form-inline" : "form-inline")}
  {form itemsPerPage, class => $formClass}
   <div class="input-group">
    {label itemsPerPage, class => "input-group-addon" /}
    {input itemsPerPage, class => "form-control"}
    <span class="input-group-btn">{input send, class => "btn btn-default"}</span>
   </div>
  {/form}
 </div>
{/if}
