{if $itemsPerPage}
 {var $formClass = ($ajax ? "ajax" : NULL)}
 {form itemsPerPage, class => $formClass}
  <table>
   <tr>
    <td>{label itemsPerPage /}</td><td>{input itemsPerPage}</td><td>{input send}</td>
   </tr>
  </table>
 {/form}
{/if}
